<div class="akasharender-epub-framed-video-player">
    <h3><%= title %></h3>
    <p>Source: <a href="<%= embedUrl %>" rel="nofollow"><%= embedSource %></a></p>
    <div style="clear: both;" class="akasharender-epub-embed-preview"><%- preview %></div>
</div>
